.col-md-1{
    padding-bottom: 10px;
}
.content{
    padding-left: 40px;
    padding-bottom: 5px;
}
input{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    width:170px;
}
.content input{
    margin-right: 5px;
}
.width80{

    width:90px;
    padding-right:0px;
}
.width100{

    width:170px;
    padding-left: 0px;
}
.width50{

    text-align: right;
    width:60px;
    padding-right:0px;
}
h1,h2{
    padding-bottom: 20px;
}

.item{
    padding-left: 30px;
}

.item input{
    width: 10px;
}
.item4 input{
    width: 10px;
}
.button{
    padding-left: 40px;
    
}
.button input{
     width: 70px;
}
